
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f0f0f0;}
   
    background-image: url('img/set.jpg'); /* Caminho para a sua imagem de fundo */
        background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o corpo */
        background-repeat: no-repeat; /* Evita que a imagem de fundo seja repetida */
        background-attachment: fixed; /* Mantém a imagem de fundo fixa enquanto a página é rolada */

header {
    background-color: #cecab9;
    text-align: center;
    padding: 20px;

.img /*esta sem as chaves - lembrete somente
position: absolute; /* Define a imagem como posicionamento absoluto em relação ao corpo. */
        top: 50%; /* Move a parte superior da imagem para o centro vertical. */
        left: 50%; /* Move a parte esquerda da imagem para o centro horizontal. */
        transform: translate(-50%, -50%); /* Move a imagem de volta em 50% da sua própria largura e altura para centralizá-la. */
        max-width: 100%; /* Garante que a imagem não ultrapasse a largura do corpo. */
        max-height: 100%; /* Garante que a imagem não ultrapasse a altura do corpo. */
    
    .texto-sobreposto {
        position: absolute;
        top: 50%; /* Define a posição vertical do texto */
        left: 50%; /* Define a posição horizontal do texto */
        transform: translate(-50%, -50%); /* Centraliza o texto horizontal e verticalmente */
        background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhor legibilidade */
        color: #fff; /* Cor do texto */
        padding: 10px; /* Espaçamento interno do texto */
    }


h1 {
    color: #333;
}
.container {
    max-width: 500px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px hsla(255, 2%, 51%, 0.914);
}
.section {
    margin-bottom: 20px;
}
.section h2 {
    color: #333;
    margin: 10px;
}